/*VARIABLES*/
$main-font: "Poppins", sans-serif;
$logo-font: "Courgette", cursive;
$main-color: #fff;
$second-color: #ffdf00;
$third-color: #696969;
$light-bg: #f5f5f5;

/*NAVBAR*/
.navbar {
  width: 70%;
  padding: 25px;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.navbar-brand {
  font-family: $logo-font;
  font-size: 40px;
}
.collapse {
  font-family: $main-font;
  font-size: 25px;
  color: $main-color;
}
.nav-link {
  color: $main-color;
}
.nav-link:hover {
  color: $second-color;
}
.header-body {
  opacity: 0.8;
  background-image: url(/images/bg-header.jpeg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-text {
  font-family: $main-font;
  font-size: 70px;
  color: $main-color;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-title {
  font-family: $main-font;
  font-style: italic;
  font-size: 60px;
  color: $main-color;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-body .btn {
  font-family: $main-font;
  font-size: 20px;
  color: $main-color;
  font-weight: 700;
  padding: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
